.admin{
    display: flex;

}
.menu{
    width: 20%;
    height: 85vh;
    background-color: #74726f;
    border-right: 1px solid black;
}
.content{
    width: 80%;
    background-color: #d1bcb3;
}

.card{
    background-color: #fcd1bf;
    width: 18rem;
    margin: 10px;
    text-align: left;
    padding:1rem 2rem;
}
